
        body{
            background-color: rgb(224, 238, 243);
        }
        h1{
               color: tomato;
               text-align: center;
        }
        #circle{
            border: 2px solid seagreen;
            height: 150px;
            width: 150px;
            border-radius: 80px;
            margin: auto;
            margin-top: 150px;
            /* display: flex; */
            background-color: white;
        }

        .button{
                margin: auto;
                padding: 10px;
                margin-top: 50px;
                /* border: 2px solid rebeccapurple; */
                height: 100px;
                width: 350px;
                box-sizing: border-box;

        }

        #btn-1{
                 padding: 3px;
                 height: 30px;
                 width: 60px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: green;
                 color: white;
        }
        #btn-2{
                 padding: 3px;
                 height: 30px;
                 width: 60px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: red;
                 color: white;
        }
        #btn-3{
                 padding: 3px;
                 height: 30px;
                 width: 60px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: blue;
                 color: white;
        }
        #btn-4{
                 padding: 3px;
                 height: 30px;
                 width: 60px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: rgb(155, 155, 29);
                 color: white;
        }
        #btn-5{
                 padding: 3px;
                 height: 30px;
                 width: 60px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: mediumvioletred;
                 color: white;
        }
        #btn-6{
                 padding: 3px;
                 height: 30px;
                 width: 70px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: maroon;
                 color: white;
        }
        #btn-7{
                 padding: 3px;
                 height: 30px;
                 width: 100px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: springgreen;
                 color: white;
        }
        #btn-8{
                 padding: 3px;
                 height: 30px;
                 width: 80px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: seagreen;
                 color: white;
        }
        #btn-9{
                 padding: 3px;
                 height: 30px;
                 width: 70px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: aqua;
                 color: white;
        }
        #btn-10{
                 padding: 3px;
                 height: 30px;
                 width: 70px;
                 font-size: 15px;
                 border-radius: 5px;
                 background-color: crimson;
                 color: white;
        }
        #btn-11{
            padding: 3px;
            height: 30px;
            width: 70px;
            font-size: 15px;
            border-radius: 5px;
            background-color: tomato;
            color: white;
   }
   #btn-12{
    padding: 3px;
    height: 30px;
    width: 70px;
    font-size: 15px;
    border-radius: 5px;
    background-color: thistle;
    color: white;
}
#btn-13{
    padding: 3px;
    height: 30px;
    width: 70px;
    font-size: 15px;
    border-radius: 5px;
    background-color: salmon;
    color: white;
}
#btn-14{
    padding: 3px;
    height: 30px;
    width: 70px;
    font-size: 15px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}
        #btn-1:hover{
            background-color: wheat;
            color: green;
        }
        #btn-2:hover{
            background-color: wheat;
            color: red;
        }
        #btn-3:hover{
            background-color: wheat;
            color: blue;
        }
        #btn-4:hover{
            background-color: wheat;
            color: yellowgreen;
        }
        #btn-5:hover{
            background-color: wheat;
            color: mediumvioletred;
        }
        #btn-6:hover{
            background-color: wheat;
            color: maroon;
        }
        #btn-7:hover{
            background-color: white;
            color: springgreen;
        }
        #btn-8:hover{
            background-color: wheat;
            color: seagreen;
        }
        #btn-9:hover{
            background-color: wheat;
            color: aqua;
        }
        #btn-10:hover{
            background-color: wheat;
            color: crimson;
        }
        #btn-11:hover{
            background-color: wheat;
            color: tomato;
        }
        #btn-12:hover{
            background-color: wheat;
            color: thistle;
        }
        #btn-13:hover{
            background-color: wheat;
            color: salmon;
        }
        #btn-14:hover{
            background-color: wheat;
            color: darkblue;
        }
    
#Reset{
            /* border:  2px solid black; */
            margin: auto;
            padding: 10px;
            height: 30px;
            width: 150px;
            margin-top: 30px;
}

#rt{
      font-size: 20px;
      background-color: rgb(241, 220, 216);
      color: rgb(197, 11, 67);
      border-radius: 5px;
      width: 80px;
      height: 30px;
}